# Ignore dataset folders and raw videos
dataset/
raw_videos/

# Ignore extracted features
features/
*.npy

# Ignore model files
models/
*.pth

# Compressed files
*.zip

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Python cache
__pycache__/
*.py[cod]
*.so

# Env files
.env
*.env

# MacOS system files
.DS_Store

# Logs and temp
*.log
*.tmp
*.out
*.txt
results/

#Ignore big tensor files
*.pt
